:root {
    --light: #fefefe;
    --dark: #2B303A;
}


body {
    margin: 0; padding: 0;
    font-family: sans-serif;
    color: var(--dark);
    background: var(--light);
}

header {
    margin: 10px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
}

header img {
    max-height: 100%;
    margin-right: 20px;
}

.main {
    padding: 10px;
    background: #1a659a;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}


.main > div {
    min-width: 0;
}

.main h2 {
    color: var(--light);
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.main img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: calc(100vh - 190px);
}

.main a {
    text-decoration: none;
    height: calc(100vh - 190px);
    max-height: calc(100vh - 190px);
}

.site-panel a {
    display: grid;
    align-items: center;
}

.site-panel a h2 {
    z-index: 2;
    background: var(--light);
    color: var(--dark);
    padding: 20px 0;
}

.site-panel a > * {
    grid-area: 1/1;
}

@media only screen and (max-width: 768px) {
    header {
        height: 80px;
        font-size: 1em;
    }

    .main {
        grid-template-columns: 1fr;
    }

    .main a,
    .main img {
        max-height: calc(50vh - 65px);
    }
}
